:root { 
--white_A700_7f:#ffffff7f; 
--red_700:#e82327; 
--gray_50_26:#fcfcfc26; 
--red_800:#bf303a; 
--white_A700_90:#ffffff90; 
--green_A200:#75fbb9; 
--gray_50:#fafafa; 
--white_A700_33:#ffffff33; 
--green_A700:#0ead69; 
--black_900:#000000; 
--blue_gray_800:#294559; 
--purple_A400:#db00ff; 
--blue_gray_700:#325973; 
--blue_gray_900:#333333; 
--purple_A100:#ee90ff; 
--teal_A700:#00be84; 
--gray_900_02:#1a2e25; 
--black_900_4c:#0000004c; 
--gray_900_03:#191919; 
--white_A700_e5:#ffffffe5; 
--pink_50:#fcddec; 
--blue_gray_100:#d9d9d9; 
--gray_800:#4f4f4f; 
--gray_900:#192d25; 
--gray_900_01:#0f0f19; 
--gray_300_03:#dedede; 
--gray_300:#e2dfd2; 
--gray_300_02:#e3e2e1; 
--gray_300_01:#e6e6e6; 
--teal_A400:#03ffb3; 
--gray_100:#f2f2f7; 
--white_A700_66:#ffffff66; 
--white_A700:#ffffff; 
--blue_gray_700_01:#525252; 
--gray_800_4c:#3c3c3c4c; 
--indigo_600:#2a6f99; 
}